.map-option {
    padding: 10px 20px;
    border: 1px solid #dddbda;
    background: #fff;
    cursor: pointer;
}

.map-option.selected {
    background: #0176d3;
    color: white;
    border-color: #0176d3;
}

.map-option:first-child {
    border-radius: 4px 0 0 4px;
}

.map-option:last-child {
    border-radius: 0 4px 4px 0;
}
